@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: #000000;
  background-color: #eaecf0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(35, 61, 77, 0.25);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
